.product-description {
    background-color: $color-white;
    padding: 1rem;
}

.product-title {
    font-size: 18px;
    font-family: $font-poppins;
    font-weight: $font-weight-medium;
    color: $color-dark-2;
    
}