
<section class="best-collection">
    <div class="container">
        <div class="best-title">
            <h1>Best Collection</h1>
            <div class="categories">
                <a class="category-link" href="#">All</a>
                <a class="category-link" href="#">Bags</a>
                <a class="category-link" href="#">Dress</a>
                <a class="category-link" href="#">Decoration</a>
                <a class="category-link" href="#">Essentials</a>
                <a class="category-link" href="#">Interior</a>
                <a class="category-link" href="#">Laptop</a>
                <a class="category-link" href="#">Mobile</a>
                <a class="category-link" href="#">Beauty</a>
            </div>
        </div>



        <div class="row row-cols-1 row-cols-md-4 g-4">

            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Sneakers</div>
                    <p class="price">$30.00</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Necklace</div>
                    <p class="price">$12.00</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Airpods</div>
                    <p class="price">$95.00</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Cat Sweater</div>
                    <p class="price">$45.00</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Beanie</div>
                    <p class="price">$29.00</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Jacket</div>
                    <p class="price">$115.00</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Socks</div>
                    <p class="price">$15.00</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Eyeshadow palette</div>
                    <p class="price">$30.00</p>
                </div>
            </div>
        </div>
        <div class="best-btn">
            <button class="btn-white">SHOP NOW</button>
        </div>
    </div>
</section>