<section class="sales-showcase">
    <div class="container">
        <div class="sales-content">

            <div class="left-card">
                <div class="card">
                    <img src="images/placeholders/369x310.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Sneakers</div>
                    <p class="price">$30.00</p>
                </div>
            </div>


            <div class="sales-offer">
                <div class="highlight-text"> SPECIAL SALE </div>
                <div class="sales-amount">50% OFF</div>
                <div class="sales-title">Get The Best Price</div>
                <p>Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</p>
                <a class="discovery-link" href="#">Discover More</a>
            </div>

            <div class="right-card">
                <div class="card">
                    <img src="images/placeholders/369x310.svg" class="card-img-top" alt="...">
                </div>
                <div class="product-description">
                    <div class="product-title">Sneakers</div>
                    <p class="price">$30.00</p>
                </div>
            </div>
        </div>
    </div>
</section>