<section class="top-selling">
    <div class="section-title">
        <h2>Top selling products this week</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-6 g-4">

        <div class="col">
            <div class="card">
                <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
            </div>
            <div class="product-description">
                <div class="product-title">Sneakers</div>
                <p class="price">$30.00</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
            </div>
            <div class="product-description">
                <div class="product-title">Sneakers</div>
                <p class="price">$30.00</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
            </div>
            <div class="product-description">
                <div class="product-title">Sneakers</div>
                <p class="price">$30.00</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
            </div>
            <div class="product-description">
                <div class="product-title">Sneakers</div>
                <p class="price">$30.00</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
            </div>
            <div class="product-description">
                <div class="product-title">Sneakers</div>
                <p class="price">$30.00</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="images/placeholders/270x295.svg" class="card-img-top" alt="...">
            </div>
            <div class="product-description">
                <div class="product-title">Sneakers</div>
                <p class="price">$30.00</p>
            </div>
        </div>
    </div>

    <div class="slider-buttons">
        <button class="slider-btn btn-white"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="slider-btn btn-white"><i class="fa-solid fa-chevron-right"></i></button>

    </div>
</section>