@model UserSignUpViewModel 
@{ViewData["Titlte"] = "Sign Up New Account";}

@*<div class="d-flex justify-content-between ">
    <h1 class="display-4">Sign Up New Account</h1>
    <form method="post" class="col-10 col-xl-6" >

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <small class="text-danger"><span asp-validation-for="FirstName"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <small class="text-danger"><span asp-validation-for="LastName"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <small class="text-danger"><span asp-validation-for="Email"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <small class="text-danger"><span asp-validation-for="PhoneNumber"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <small class="text-danger"><span asp-validation-for="Password"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <small class="text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="StreetName" class="form-label">Street Name</label>
            <input asp-for="StreetName" class="form-control" />
            <small class="text-danger"><span asp-validation-for="StreetName"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="PostalCode" class="form-label">Postal Code</label>
            <input asp-for="PostalCode" class="form-control" />
            <small class="text-danger"><span asp-validation-for="PostalCode"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="City" class="form-label">City</label>
            <input asp-for="City" class="form-control" />
            <small class="text-danger"><span asp-validation-for="City"></span></small>
        </div>

        <div class="mt-5">
            <div class="d-grid">
                <button type="submit" class="btn btn-success">SIGN UP NOW</button>
            </div>
        </div>

    </form>
</div>*@


<section class="register-form ">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>

        <form method="post" enctype="multipart/form-data" class="col-10 col-xl-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <small class="text-danger"><span asp-validation-for="FirstName"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <small class="text-danger"><span asp-validation-for="LastName"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Email"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <small class="text-danger"><span asp-validation-for="PhoneNumber"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Password"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <small class="text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="StreetName" class="form-label">Street Name</label>
                <input asp-for="StreetName" class="form-control" />
                <small class="text-danger"><span asp-validation-for="StreetName"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="PostalCode" class="form-label">Postal Code</label>
                <input asp-for="PostalCode" class="form-control" />
                <small class="text-danger"><span asp-validation-for="PostalCode"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="City" class="form-label">City</label>
                <input asp-for="City" class="form-control" />
                <small class="text-danger"><span asp-validation-for="City"></span></small>
            </div>

            <div class="mt-5">
                <div class="d-grid">
                    <button type="submit" class="btn btn-theme">SIGN UP NOW</button>
                </div>
            </div>

         </form>
    </div>
</section>